<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servelet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresorequerimiento</servlet-name>
        <servlet-class>Servelet.ingresorequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inrequerimiento</servlet-name>
        <servlet-class>Servelet.Inrequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarequerimiento</servlet-name>
        <servlet-class>Servelet.Consultarequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarrequerimiento</servlet-name>
        <servlet-class>Servelet.mostrarrequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrarrequerimientos</servlet-name>
        <servlet-class>Servelet.Cerrarrequerimientos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresorequerimiento</servlet-name>
        <url-pattern>/ingresoreque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inrequerimiento</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarequerimiento</servlet-name>
        <url-pattern>/mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrarrequerimientos</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
